.sl-markdown-content img {
  max-height: 300px;
  width: auto;
  object-fit: contain;
  cursor: zoom-in;
}

:root[data-theme='light'] {
  --sl-color-accent-low: #e4f0e0;
  --sl-color-accent: #336923;
  --sl-color-accent-high: #1a3d10;
}

:root[data-theme='dark'] {
  --sl-color-accent-low: #1a3d12;
  --sl-color-accent: #336923;
  --sl-color-accent-high: #8cc47a;
}
